@tailwind base;
@tailwind components;
@tailwind utilities;
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContainer > main{
    height: 100%;
}

.mainContainer > footer{
    background-color: red;
    padding: 10px;
}

.Navbar{
    padding: 20px;
    justify-content: space-between;
}